@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root {
    --accent-color: #d6a460;
    --accent-hover: #bca584;
}

body {
    font-family: "Libre Baskerville", serif;
    margin: 28px 60px;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

a {
    color: var(--accent-color);
}

a:hover {
    color: var(--accent-hover);
}

.redirect-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: 1px solid #666;
    cursor: pointer;
    font-size: 1em;
    border-radius: 9px;
    transition: background-color .3s;
    font-family: "Libre Baskerville", serif;
}

.redirect-button:hover {
    background-color: #555;
    background-color: var(--accent-color);
}