@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
    font-family: "Libre Baskerville", serif;
    margin: 28px 60px;
    background-color: #121212;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}